*{
	padding: 0px;
	margin: 0px;
}

/*Header*/

.container{
	width:95%;
	margin:auto;
}

.header{
	background-color:#333;
	color:#fff;
}

/* Dropdown menu */
.dropbtn {
    background-color: #66ffc2;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #00995c;
    width: 160;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #3e8e41}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
/* Dropdown menu */

/*/header*/